body {
    background: linear-gradient(-45deg, #000000, #333333);
    background-size: 200% 200%;
    animation: gradient 10s ease-in-out infinite;
    color: #fff;
    font-family: 'Inter', sans-serif !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  header {
    text-align: left;
    padding: 0.5em 0;
    margin-left: 7vw;
    height: 10vh;
  }
  
  header h1 {
    font-size: 3em;
    margin: 0.2em;
    margin-top: 5vh;
    transition: 0.5s;
  }
/* 
    header h1:hover {
        transform: scale(1.2);
        transition: 0.5s;
    } */
  
  header p {
    font-size: 1.2em;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #hero-section {
    text-align: center;
    margin: 1em 0;
    height: 70vh;
    padding-right: 10vw;
    align-items: flex-start;
    padding-left: 5vw;
    width: 30vw;
  }

  #hero-section p {
    font-size: 5vh;
    text-align: left;
    margin-bottom: 4vh;
    transition: 0.5s;
  }

  #hero-section p:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  
  #input-section {
    text-align: center;
    margin: 1em 0;
    height: 70vh;
    padding-left: 10vw;
    width: 35vw;
  }

  #input-section input {
    margin: 0.5em;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    background: #2c2c2c;
    border-radius: 15px;
    border: black solid 2px;
    width: 30vw;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  #input-section textarea {
    margin: 0.5em;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    background: #2c2c2c;
    border-radius: 15px;
    border: black solid 2px;
    width: 30vw;
    color: white;
    height: 5vw;
    font-family: 'Inter', sans-serif !important;
    resize: vertical;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  #input-section button {
    margin: 1em;
    padding: 0.5em 1em;
    width: 20vw;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    background-color: #2c2c2c;
    border: none;
    color: #fff;
    border: black solid 2px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  text:disabled, textarea:disabled {
    background: #777;
  }
  
  #input-section button:hover {
    background-color: #565656;
    transition: 0.5s;
  }
  
  .loading-gif {
    width: 3vw;
  }
  
  .inputted-info-card {
    background-color: rgba(32, 32, 32, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border: black solid 2px;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0px;
    width: 30vw;
    opacity: 0.8;
    text-align: left;
    transition: 0.5s;
  }

  .inputted-info-card:hover {
    cursor: pointer;
    background-color: rgba(18, 18, 18, 0.8);
    transition: 0.5s;
  }

  .inputted-info-card h2 {
    margin: 0px;
    margin-bottom: 7px;
  }

  .inputted-info-card p {
    margin-bottom: 0px;
    margin-top: 3px;
  }

  #particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #footer {
    margin-top: 3vh;
  }

  #output-section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    text-align: center;
    margin: 1em 0;
    height: 70vh;
    padding-left: 10vw;
    width: 35vw;

    overflow: hidden;
    overflow-y: scroll;
  }

  #output-section::-webkit-scrollbar {
    display: none;
  }

  