<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sellout - AI Sales Rep</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- <div id="particle-canvas"></div> -->

    <header>
        <h1>Sellout</h1>
    </header>

    <div class="row">
        <section id="hero-section" class="column">
            <p>Create AI agent-run sales campaigns.</p>
            <p>Ideation to first contact to call to close.</p>
            <p><strong>No human in the loop.</strong></p>
        </section>
        
        <section id="input-section" class="column">
            <form id="campaign-form" class="column">
                <input type="text" id="user-name" placeholder="Your Name">
                <input type="text" id="user-email" placeholder="Your Email">
                <input type="text" id="company-website" placeholder="Company Website">
                <input type="text" id="company-name" placeholder="Company Name">
                <textarea id="campaign-strategy" placeholder="Campaign Strategy"></textarea>
                <button type="submit">Launch Your AIgent Campaign</button>
            </form>
        </section>

        <section id="output-section" class="column">
            <h2>Sellout at Work:</h2>
        </section>

    </div>

    <div id="footer" class="row">
        <h5>Made by Ron Nachum, Vignav Ramesh, Agnim Agarwal, Michael Zhou, & Naomi Bashkansky @ AGI House</h5>
    </div>

  <script>
    document.getElementById('campaign-form').addEventListener('submit', function(e) {
    e.preventDefault();

    var userName = document.getElementById('user-name');
    var userEmail = document.getElementById('user-email');
    var companyWebsite = document.getElementById('company-website');
    var companyName = document.getElementById('company-name');
    var campaignStrategy = document.getElementById('campaign-strategy');
    var submitButton = document.querySelector('#campaign-form button');

    var companyWebsiteValue = companyWebsite.value;
    var companyNameValue = companyName.value;
    var campaignStrategyValue = campaignStrategy.value;

    var inputtedInfoDiv = document.createElement('div');
    inputtedInfoDiv.classList.add('inputted-info-card');
    inputtedInfoDiv.innerHTML = `
        <h2>AIgent Sales Strategy:</h2>
        <p>User Name: ${userName.value}</p>
        <p>User Email: ${userEmail.value}</p>
        <p>Company Website: ${companyWebsiteValue}</p>
        <p>Company Name: ${companyNameValue}</p>
        <p>Campaign Strategy: ${campaignStrategyValue}</p>
    `;

    var form = document.getElementById('campaign-form');
    form.parentElement.style.display = 'none';

    var outputSection = document.getElementById('output-section');
    outputSection.appendChild(inputtedInfoDiv);
    outputSection.style.display = 'flex';

    var loadingGif = document.createElement('img');
    loadingGif.classList.add('loading-gif');
    loadingGif.src = "{{ url_for('static', filename='images/spinner.gif') }}"; 

    outputSection.appendChild(loadingGif);

    var loadingMessages = [
        "Building " + companyNameValue + " Knowledge Base...",
        "Searching for Potential Leads...",
        "Learning about Leads...",
        "Crafting Email...",
        "Sending Email...",
        "Sent"
    ];

    var cardContents = [
        '<div class="inputted-info-card"> <p>OpenAI Knowledege Base Built</p> </div>',
        '<div class="inputted-info-card"> <p>Quant Firm Leads Discovered</p> </div>',
        '<div class="inputted-info-card"> <p>First Lead: Ron Nachum @ Jane Street</p> </div>',
        '<div class="inputted-info-card"> <p>Personalized Email Drafted</p> </div>',
        '<div class="inputted-info-card"> <p>Sending Email</p> </div>',
        '<div class="inputted-info-card"> <p>Email Sent</p> </div>',
    ];

    var messageIndex = 0;

    var loadingMessageElement = document.createElement('p');
    loadingMessageElement.classList.add('loading-message');
    loadingMessageElement.textContent = loadingMessages[messageIndex];
    outputSection.appendChild(loadingMessageElement);
    outputSection.appendChild(loadingGif);

    var intervalId = setInterval(function() {
        var card = document.createElement('div');
        card.classList.add('card');
        card.innerHTML = cardContents[messageIndex];
        outputSection.insertBefore(card, loadingMessageElement);

        outputSection.removeChild(loadingGif);
        outputSection.appendChild(loadingGif);

        messageIndex++;
        if (messageIndex < loadingMessages.length) {
            loadingMessageElement.textContent = loadingMessages[messageIndex];
        } else {
            clearInterval(intervalId);
            outputSection.removeChild(loadingGif);
            outputSection.removeChild(loadingMessageElement);
        }
    }, 7000);

    fetch('/start-ai', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            user_name: userName.value,
            user_email: userEmail.value,
            company_website: companyWebsiteValue,
            company_name: companyNameValue,
            campaign_strategy: campaignStrategyValue,
        }),
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch((error) => {
        console.error('Error:', error);
    });
    });
  </script>

    <script src="https://rawgit.com/JulianLaval/canvas-particle-network/master/particle-network.min.js"></script>
    <script>
    var canvasDiv = document.getElementById('particle-canvas');
    var options = {
        particleColor: '#888',
        interactive: true,
        speed: 'medium',
        density: 'high'
    };
    var particleCanvas = new ParticleNetwork(canvasDiv, options);
    </script>


</body>
</html>
