<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sellout - AI Sales Rep</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <header>
    <h1>Sellout</h1>
  </header>

  <div class="row">
    <section id="hero-section" class="column">
        <p>Create AI agent-run sales campaigns. <br><br> Ideation to first contact to call to close. <br><br> <strong>No human in the loop.</strong></p>
      </section>
    
      <section id="input-section" class="column">
        <form class="column">
          <input type="text" id="company-website" placeholder="Company Website">
          <textarea id="campaign-strategy" placeholder="Campaign Strategy"></textarea>
          <button type="submit">Launch Campaign</button>
        </form>
      </section>
  </div>


</body>
</html>
